<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>StudyMate 회원가입</title>
</head>

<body>

<h1>StudyMate 회원가입</h1>

<form action="/signup" method="post">

    <div>
        <label>아이디</label>
        <input type="text"
               name="username"
               required>
    </div>

    <br>

    <div>
        <label>비밀번호</label>
        <input type="password"
               name="password"
               required>
    </div>

    <br>

    <div>
        <label>이름</label>
        <input type="text"
               name="name"
               required>
    </div>

    <br>

    <div>
        <label>이메일</label>
        <input type="email"
               name="email"
               required>
    </div>

    <br>

    <button type="submit">회원가입</button>

</form>

<p style="color:red" th:if="${error}" th:text="${error}"></p>

</body>
</html>